<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Личный кабинет</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-centered">
                <div class="mytable">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <div class="label_page">
                                        Личный кабинет
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="{{ url_for('access_app.personal_account') }}" method="POST">
                                <tr>
                                    <td>Логин:</td>
                                    <td>
                                        {{ user_info['username']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Наименование:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="Наименование" required minlength="5"
                                            pattern="[A-Za-z ]*" value="{{ user_info['name_s'] or '' }}" name="name_s"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Тип судна:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="Тип судна" required minlength="3"
                                            pattern="[A-Za-z ]*" value="{{ user_info['type_s'] or '' }}" name="type_s"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Грузовместимость:</td>
                                    <td class="no-padding">
                                        <input type="number" placeholder="Грузовместимость" required pattern="\d*"
                                            value="{{ user_info['tonnage'] or '' }}" name="tonnage" autocomplete="off"
                                            min="1" max="10000">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Порт отправления:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="Порт отправления" required pattern="[A-Za-z ]*"
                                            value="{{ user_info['homeport'] or '' }}" name="homeport"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding" colspan="2">
                                        <input type="submit" value="Сохранить">
                                    </td>
                                </tr>
                            </form>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('basket_app.ship_register') }}" method="GET">
                                        <input type="submit" value="Подать заявку на регистрацию">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('basket_app.show_current_regs') }}" method="GET">
                                        <input type="submit" value="Посмотреть регистрации">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('index_handler') }}" method="GET">
                                        <input type="submit" value="На главную">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="message">
                {% if category == 'okay' %}
                <div class="okay">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'error' %}
                <div class="error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>

    <div id="loading">
        <div class="spinner"></div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/pageEventHandlers.js"></script>

</html>