<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Ассортимент</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-centered">
                <div class="mytable-for-results">
                    <table>
                        <thead>
                            <tr>
                                <th colspan=8">
                                    <div class="label_page">
                                        Формирование заказа на поставку
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='no-padding' colspan="8">
                                    <input type="text" id="search" placeholder="Поиск по названию детали"
                                        autocomplete="off">
                                </th>
                            </tr>
                            <tr>
                                <th>Наименование</th>
                                <th>Вес</th>
                                <th>Материал</th>
                                <th>Количество на складе</th>
                                <th>Цена за единицу</th>
                                <th>Количество для накладной</th>
                                <th>Добавление</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                            <tr>
                                <td>
                                    {{ row['pr_name'] }}
                                </td>
                                <td>
                                    {{ row['pr_weight'] }}
                                </td>
                                <td>
                                    {{ row['pr_material'] }}
                                </td>
                                <td>
                                    {{ row['st_amount'] }}
                                </td>
                                <td>
                                    {{ row['price'] }}
                                </td>
                                <form action="{{ url_for('basket_app.basket_index') }}" method="POST">
                                    <td class="no-padding" style="background-color: var(--register-color);">
                                        <input type="number" name="quantity" value="1" min="1" autocomplete="off"
                                            required>
                                    </td>
                                    <td class="no-padding" style="background-color: var(--register-color);">
                                        <input type="hidden" name="code" value="{{ row['code'] }}">
                                        <input type="hidden" name="name" value="{{ row['pr_name'] }}">
                                        <input type="hidden" name="material" value="{{ row['pr_material'] }}">
                                        <input type="hidden" name="weight" value="{{ row['pr_weight'] }}">
                                        <input type="hidden" name="price" value="{{ row['price'] }}">
                                        <input type="submit" value="Добавить">
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="no-padding" style="background-color: var(--register-color);">
                                    <form action="{{ url_for('basket_app.show_basket_handler') }}">
                                        <input type="submit" value="Просмотр накладной ({{ count }})">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-padding" style="background-color: var(--register-color);">
                                    <form action="/">
                                        <input type="submit" value="На главную">
                                    </form>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="message">
                {% if category == 'okay' %}
                <div class="okay">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'error' %}
                <div class="error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>

    <div id="loading">
        <div class="spinner"></div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/pageEventHandlers.js"></script>

</html>